$maincolor: #1A1C1D;

html {
    background-color: $maincolor;
}

.searchbar{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

%searchbartext {
    background-color:$maincolor;
    width: 500px;
    height: 45px;
    margin-bottom: 100px;
    border: 1px solid rgb(124,115,101);
    border-radius: 50px;
    padding-left: 35px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

%searchbartext:hover {
    background-color: rgb(38,41,42);
}

input[class="mainbar"] {
    @extend %searchbartext;  

}

%searchbuttons {
    
    position: absolute;
    align-items: left;
    margin-top: 35px;
    width: 140px;
    height: 37px;
    background-color: #26292A;
    color: white;
    font-family: 'Arial';
    border: 1px solid rgb(124,115,101);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 100;
    padding-top: 2px;

}

%searchbuttons:hover {
    border: rgb(109, 103, 95);
}

input[value="Google Search"],[value="Image Search"] {

    @extend %searchbuttons;
    margin-right: 160px;
    
}
 input[value="I am Feeling Lucky"] {
    @extend %searchbuttons;
    margin-left: 180px;
    width: fit-content; 
    

 }


%pagelinks {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    color: white;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    font-weight: 100;
}

%pagelinks:hover {
    text-decoration: underline;
}

a >button {
    background-color: $maincolor;
    color: white;
    border: none;
}

a[name="imagepage"] {

    @extend %pagelinks;
    margin-right: 100px;
    margin-top: 30px;
    
}

a[name="homepage"] {

    @extend %pagelinks;
    margin-right: 100px;
    margin-top: 30px;
    
}

a[name="advancedpage"] {
 
 @extend %pagelinks;
 margin-right: 180px;
 margin-top: -18.5px;
}

a[name="homepage2"] {
 
    @extend %pagelinks;
    margin-right: 200px;
    margin-top: -18.5px;
   }

   h1[name="title"] {
    font-size: 24px;
    font-family: arial;
    color: #DE453C;
    font-weight: 100;
    border-bottom: 1px solid #363A3C;
    border-width: 110%;
    margin-top: 20px;
   }

   %advancedboxes {
    width: 95%;
    text-align: left;
    box-sizing: content-box;
    display: inline-block;
    float: none;
    line-height: normal;
    position: static;
    border: 1px solid rgb(59, 64, 66);
    height: 28px;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #2B2A33;
    font-family: arial;
    color: white;
    border-radius: 4px;
   
    
    
   }

   td > input[type="text"] {
    @extend %advancedboxes;
   }

   td > input[type="text"]:focus {
    border: 1px solid #0E459D;
    outline: none;
   }

   td[class="c1"] {
    width: 230px;
   }

   td[class="c2"] {
    width: 550px;
   }

   tr {
    height: 50px;
   }

   table {
    margin-top: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid #363A3C;
   }

   input[value="Advanced Search"] {
    text-align: center;
    width: 150px;
    height: 30px;
    color: #E8E6E3;
    background-color: #0E459D;
    font-size: 13px;
    font-family: Arial, sans-serif;
    border: 1px solid #082758;
    font-weight: 500;
    margin-left: 610px;
    padding-top: 3px;
    
   }



   input[value="Advanced Search"]:active {
    background-color: #155dd1;
   }
